{% load static %}
<link rel="stylesheet" href="{% static "css.css" %}">

<nav class="nav">
    <div class="container">
        <div class="nav-body">
            <from class="glav-from" method="GET">
                <button class="glav" type="submit">AVTO RYNOK</button>
            </from>
            <div class="search">
                <form class="search-from" method="GET">
                  <input class="search-input" type="search" name="search" value="{{request.GET.search}}" placeholder="Search" aria-label="Search">
                  <button class="search-button" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</nav>